[submodule "ExternalLibrary/fmt"]
	path = ExternalLibrary/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "ExternalLibrary/spdlog"]
	path = ExternalLibrary/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "ExternalLibrary/doctest"]
	path = ExternalLibrary/doctest
	url = git@github.com:doctest/doctest.git
[submodule "ExternalLibrary/glfw"]
	path = ExternalLibrary/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ExternalLibrary/glm"]
	path = ExternalLibrary/glm
	url = git@github.com:g-truc/glm.git
[submodule "ExternalLibrary/benchmark"]
	path = ExternalLibrary/benchmark
	url = git@github.com:google/benchmark.git
